{% extends 'base.html.twig' %}

{% block title %}New UserBankAccount{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Lier un nouveau compte bancaire</h1>

    {{ include('user_bank_account/_form.html.twig') }}

    <a href="{{ path('user_bank_account_index') }}">Retour</a>
</div>
{% endblock %}
